extends layout

block content
  div(ng-app="contactCards")
    div(ng-controller="cardsCtrl")
      h1= title
      div(ng-repeat="card in cards")
        p {{ card.firstName + " " + card.lastName}}

