extends layout

block content
  div.fluid-container
    div(ng-app="contactCards")
      div(ng-controller="cardsCtrl")
        h1= title
        div.contact-card(ng-repeat="card in cards")
          div.title-bar
            div.title
              div(ng-show="card.image").avatar
                img(ng-src="{{card.image}}")
              span.contact-name
                h2 {{ card.firstName + " " + card.lastName}}
          div.contact-details
            p {{ card.email }}

