doctype html
html
  head
    title= title
    link(rel='stylesheet', herf='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap.js')

    script(src='javascripts/team_taco/team_taco_app.js')

    // foo module
    script(src='javascripts/team_taco/foo/foo.module.js')
    script(src='javascripts/team_taco/foo/foo.js')

  body
    block content